ProyectoFinal/Service References/ServicioPedidos/ServicioPedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicios.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicioPedidos" targetNamespace="http://servicios.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/Desarrollo-Java-Services/ServicioPedidos?xsd=1" namespace="http://servicios.org/" />
    </xsd:schema>
  </types>
  <message name="ObtenerPedidos">
    <part name="parameters" element="tns:ObtenerPedidos" />
  </message>
  <message name="ObtenerPedidosResponse">
    <part name="parameters" element="tns:ObtenerPedidosResponse" />
  </message>
  <message name="insertarPedido">
    <part name="parameters" element="tns:insertarPedido" />
  </message>
  <message name="insertarPedidoResponse">
    <part name="parameters" element="tns:insertarPedidoResponse" />
  </message>
  <message name="actualizarPedido">
    <part name="parameters" element="tns:actualizarPedido" />
  </message>
  <message name="actualizarPedidoResponse">
    <part name="parameters" element="tns:actualizarPedidoResponse" />
  </message>
  <portType name="ServicioPedidos">
    <operation name="ObtenerPedidos">
      <input wsam:Action="http://servicios.org/ServicioPedidos/ObtenerPedidosRequest" message="tns:ObtenerPedidos" />
      <output wsam:Action="http://servicios.org/ServicioPedidos/ObtenerPedidosResponse" message="tns:ObtenerPedidosResponse" />
    </operation>
    <operation name="insertarPedido">
      <input wsam:Action="http://servicios.org/ServicioPedidos/insertarPedidoRequest" message="tns:insertarPedido" />
      <output wsam:Action="http://servicios.org/ServicioPedidos/insertarPedidoResponse" message="tns:insertarPedidoResponse" />
    </operation>
    <operation name="actualizarPedido">
      <input wsam:Action="http://servicios.org/ServicioPedidos/actualizarPedidoRequest" message="tns:actualizarPedido" />
      <output wsam:Action="http://servicios.org/ServicioPedidos/actualizarPedidoResponse" message="tns:actualizarPedidoResponse" />
    </operation>
  </portType>
  <binding name="ServicioPedidosPortBinding" type="tns:ServicioPedidos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ObtenerPedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioPedidos">
    <port name="ServicioPedidosPort" binding="tns:ServicioPedidosPortBinding">
      <soap:address location="http://localhost:8080/Desarrollo-Java-Services/ServicioPedidos" />
    </port>
  </service>
</definitions>