ProyectoFinal/Service References/ServicioPedidos/ServicioPedidos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.org/" targetNamespace="http://servicios.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtenerPedidos" nillable="true" type="tns:ObtenerUsuarios" />
  <xs:element name="ObtenerPedidosResponse" nillable="true" type="tns:ObtenerUsuariosResponse" />
  <xs:element name="ObtenerUsuarios" type="tns:ObtenerUsuarios" />
  <xs:element name="ObtenerUsuariosResponse" type="tns:ObtenerUsuariosResponse" />
  <xs:element name="actualizarPedido" type="tns:actualizarPedido" />
  <xs:element name="actualizarPedidoResponse" type="tns:actualizarPedidoResponse" />
  <xs:element name="insertarPedido" type="tns:insertarPedido" />
  <xs:element name="insertarPedidoResponse" type="tns:insertarPedidoResponse" />
  <xs:complexType name="insertarPedido">
    <xs:sequence>
      <xs:element name="ID_USUARIO" type="xs:int" />
      <xs:element name="TIPO_PEDIDO" type="xs:int" />
      <xs:element minOccurs="0" name="DIR_ORIGEN" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_DESTINO" type="xs:string" />
      <xs:element minOccurs="0" name="COMENTARIO" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPedidoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPedido">
    <xs:sequence>
      <xs:element name="IdPedido" type="xs:int" />
      <xs:element name="IdEstado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPedidoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ObtenerUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:modelUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modelUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="DPI" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element name="tipo_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_usuario_nombre" type="xs:string" />
      <xs:element minOccurs="0" name="usuario_alias" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>